{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- Promo -->
			<section class="sect__promo">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="promo-slider">
						<div class="swiper-container js-promo-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="promo__slide">sadsad</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="promo__slide">sadsad</div>
								</div>
								<!-- //Slide -->
							</div>
						</div>

						<!-- Slider controls -->
						<div class="promo-slider__controls">
							<div class="row align-horisontal-start align-vertical-center">

								<div class="slider__pagination js-promo-slider-pagination"></div>

								<div class="slider__navigation">
									<button class="btn__arrow btn__arrow--prev js-promo-slider-btn-prev" type="button"></button>
									<button class="btn__arrow btn__arrow--next js-promo-slider-btn-next" type="button"></button>
								</div>

							</div>

						</div>
						<!-- //Slider controls -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Promo -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>