{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups.html' %}
		<!-- //Popups -->

		<!-- Choise results -->
		{% include '../parts/components/filter-results.html' %}
		<!-- //Choise results -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- Promo -->
			<section class="sect__promo">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="promo-slider">
						<div class="slider__loader"></div>
						<div class="swiper-container js-promo-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="promo-slide">
										<a href="#" class="promo-slide__bg">
											<img src="img/promo/1.jpg" alt="">
										</a>

										<a href="#" class="btn btn-grey btn-md">Открыть</a>
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="promo-slide">
										<a href="#" class="promo-slide__bg">
											<img src="img/promo/2.jpg" alt="">
										</a>

										<a href="#" class="btn btn-grey btn-md">Открыть</a>
									</div>
								</div>
								<!-- //Slide -->
							</div>
						</div>

						<!-- Slider controls -->
						<div class="promo-slider__controls">
							<div class="row align-horisontal-start align-vertical-center">

								<div class="slider__pagination js-promo-slider-pagination"></div>

								<div class="slider__navigation">
									<button class="btn__arrow btn__arrow--prev js-promo-slider-btn-prev" type="button">
										<i class="btn__arrow--ic">

											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75.951 9.416" enable-background="new 0 0 75.951 9.416" xml:space="preserve">
												<path  d="M75.92,4.86c0.006-0.02,0.015-0.038,0.019-0.058c0.004-0.019,0.003-0.038,0.004-0.057
												c0.001-0.013,0.008-0.024,0.008-0.038s-0.007-0.025-0.008-0.038c-0.001-0.019-0.001-0.038-0.004-0.057
												c-0.004-0.02-0.012-0.038-0.019-0.058c-0.008-0.026-0.017-0.049-0.029-0.073c-0.009-0.017-0.016-0.033-0.026-0.049
												c-0.004-0.006-0.004-0.013-0.009-0.019c-0.008-0.011-0.02-0.016-0.028-0.026c-0.018-0.021-0.037-0.04-0.058-0.058
												c-0.01-0.009-0.015-0.021-0.026-0.028l-5.809-4.208c-0.22-0.159-0.534-0.113-0.698,0.112c-0.162,0.224-0.111,0.536,0.112,0.698
												l4.559,3.303H0.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h73.409L69.35,8.511c-0.224,0.162-0.274,0.475-0.112,0.698
												c0.099,0.136,0.251,0.207,0.405,0.207c0.103,0,0.205-0.031,0.293-0.095l5.809-4.209c0.011-0.008,0.016-0.02,0.026-0.028
												c0.023-0.019,0.042-0.04,0.061-0.063C75.839,5.013,75.85,5.01,75.856,5c0.004-0.006,0.005-0.013,0.009-0.019
												c0.01-0.016,0.018-0.032,0.026-0.049C75.903,4.909,75.912,4.885,75.92,4.86z"/>
											</svg>

										</i>
									</button>
									<button class="btn__arrow btn__arrow--next js-promo-slider-btn-next" type="button">
										<i class="btn__arrow--ic">

											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75.951 9.416" enable-background="new 0 0 75.951 9.416" xml:space="preserve">
												<path  d="M75.92,4.86c0.006-0.02,0.015-0.038,0.019-0.058c0.004-0.019,0.003-0.038,0.004-0.057
												c0.001-0.013,0.008-0.024,0.008-0.038s-0.007-0.025-0.008-0.038c-0.001-0.019-0.001-0.038-0.004-0.057
												c-0.004-0.02-0.012-0.038-0.019-0.058c-0.008-0.026-0.017-0.049-0.029-0.073c-0.009-0.017-0.016-0.033-0.026-0.049
												c-0.004-0.006-0.004-0.013-0.009-0.019c-0.008-0.011-0.02-0.016-0.028-0.026c-0.018-0.021-0.037-0.04-0.058-0.058
												c-0.01-0.009-0.015-0.021-0.026-0.028l-5.809-4.208c-0.22-0.159-0.534-0.113-0.698,0.112c-0.162,0.224-0.111,0.536,0.112,0.698
												l4.559,3.303H0.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h73.409L69.35,8.511c-0.224,0.162-0.274,0.475-0.112,0.698
												c0.099,0.136,0.251,0.207,0.405,0.207c0.103,0,0.205-0.031,0.293-0.095l5.809-4.209c0.011-0.008,0.016-0.02,0.026-0.028
												c0.023-0.019,0.042-0.04,0.061-0.063C75.839,5.013,75.85,5.01,75.856,5c0.004-0.006,0.005-0.013,0.009-0.019
												c0.01-0.016,0.018-0.032,0.026-0.049C75.903,4.909,75.912,4.885,75.92,4.86z"/>
											</svg>

										</i>
									</button>
								</div>
							</div>

						</div>
						<!-- //Slider controls -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Promo -->

			<!-- Section products -->
			<section class="sect__products">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<!-- Row -->
					<div class="products__row">
						
						<!-- Title col -->
						<div class="sect__title--col sect__title--col-with-circle">
							<img src="img/decor/1.svg" class="decor-img" alt="Tea rose">
							<h3 class="sect__title">Выбор<br>наших<br>клиентов</h3>
							<p class="sect__text">Выберите для себе один из самых популярных букетов или композиций</p>
						</div>
						<!-- //Title col -->

						<!-- Products -->
						<div class="products">
							<div class="row align-horisontal-start products__row">
								{% include '../parts/components/card-active-wishlist.html' %}
								{% include '../parts/components/card.html' %}
								{% include '../parts/components/card.html' %}	
							</div>
						</div>
						<!-- Products// -->
					</div>
					<!-- //Row -->

					<!-- Row -->
					<div class="products__row">
						
						<!-- Title col -->
						<div class="sect__title--col">
							<img src="img/decor/2.svg" class="decor-img" alt="Tea rose">
							<h3 class="sect__title">Тут ещё<br>много<br>всего</h3>
							<a href="page-catalog.html" class="permalink">Открыть все</a>
						</div>
						<!-- //Title col -->

						<!-- Products -->
						<div class="products">
							<div class="row align-horisontal-start products__row">
								{% include '../parts/components/card.html' %}
								{% include '../parts/components/card.html' %}
								{% include '../parts/components/card.html' %}	
							</div>
						</div>
						<!-- Products// -->
					</div>
					<!-- //Row -->

					


				</div>
				<!-- //container -->
			</section>
			<!-- //Section products -->

			<!-- Section categories -->
			<section class="sect__categories gutter-bottom">
				<h2 class="sect__title text-center container">Любимые категории</h2>

				<div class="container">
					<div class="categories">
						<div class="row align-horisontal-start categories__row">
							<!-- Category -->
							<div class="category-card">
								<article class="card">
									<a href="page-product.html" class="card__thumbnail">
										<span>Открыть</span>
										<img src="img/product-thumb.jpg" alt="Product thumnail">
									</a>
									<div class="card__information">
										<h3 class="card__title">
											<a href="page-catalog.html">Цветы</a>
										</h3>
									</div>
								</article>
							</div>
							<!-- //Category -->

							<!-- Category -->
							<div class="category-card">
								<article class="card">
									<a href="page-product.html" class="card__thumbnail">
										<span>Открыть</span>
										<img src="img/product-thumb.jpg" alt="Product thumnail">
									</a>
									<div class="card__information">
										<h3 class="card__title">
											<a href="page-catalog.html">Букеты<br>с поводом</a>
										</h3>
									</div>
								</article>
							</div>
							<!-- //Category -->

							<!-- Category -->
							<div class="category-card">
								<article class="card">
									<a href="page-product.html" class="card__thumbnail">
										<span>Открыть</span>
										<img src="img/product-thumb.jpg" alt="Product thumnail">
									</a>
									<div class="card__information">
										<h3 class="card__title">
											<a href="page-catalog.html">Букеты<br>в коробках</a>
										</h3>
									</div>
								</article>
							</div>
							<!-- //Category -->

							<!-- Category -->
							<div class="category-card">
								<article class="card">
									<a href="page-product.html" class="card__thumbnail">
										<span>Открыть</span>
										<img src="img/product-thumb.jpg" alt="Product thumnail">
									</a>
									<div class="card__information">
										<h3 class="card__title">
											<a href="page-catalog.html">Декор<br>для дома</a>
										</h3>
									</div>
								</article>
							</div>
							<!-- //Category -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section categories -->

			<!-- Section form -->
			<section class="sect__form gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">

					<div class="form-block">
						<div class="row align-vertical-center align-horisontal-between form-block__row">
							<div class="form-block__col">
								<div class="form-block__img">
									<div class="form-block__img--square color-bg"></div>
									<img src="img/flower.png" alt="Tea rose">
								</div>
							</div>

							<div class="form-block__col">
								<div class="form__col--content">
									<h3 class="form-block__title">Есть повод?</h3>
									<p class="form-block__notice">Но не знаете что выбрать?</p>
									<p class="form-block__text">оставьте контакты и наш флорист подберёт самый лучший варинат специально для вас</p>

									<form class="form">
										<div class="input__wrapper">
											<input type="text" class="input js-input is-error" name="name" placeholder="Ваше имя *">
										</div>
										<div class="input__wrapper">
											<input type="tel" class="input js-input" name="phone" placeholder="Ваш телефон *">
										</div>
										<button class="btn btn-wide" type="submit">Позвоните мне</button>
									</form>

								</div>

							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section form -->

			<!-- Section choice  bouquet-->
			<section class="sect__choise-bouquet">
				<h2 class="sect__title text-center container">Соберите свой букет</h2>

				<div class="container">
					<div class="choise-bouquet__block">
						<h3 class="sect__title--sm text-center"><span>Выберите цветок:</span></h3>

						<div class="choise-bouquet__variants">
							<div class="row align-horisontal-start">
								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Анемона</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/1.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Сирень</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/2.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Гвоздика</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/3.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Гиацинт</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/1.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Гербера</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/2.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Гортензия</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/1.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Дельфиниум</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/2.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Эустома</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/3.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Кала</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/1.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="Название цветка">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Клематис</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<img src="img/flowers/2.jpg" alt="">
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->
							</div>
						</div>
					</div>

					<div class="choise-bouquet__block">
						<h3 class="sect__title--sm text-center"><span>Выберите цвет букета:</span></h3>

						<div class="choise-bouquet__variants">
							<div class="row align-horisontal-start">
								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_white">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Белый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: white;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_red">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Красный</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #ff5c5c;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_blue">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Синий</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #546bde;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_pink">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Розовый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #ff8fcc;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_capucino">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Капучино</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #e0c6b6;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_violet">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Фиолетовый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #8866de;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_lilac">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Сиреневый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #b96fde;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_yellow">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Желтый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #fff28a;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_green">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Зеленый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color: #adeb95;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="choise-bouquet__variant--wrapper">
									<label class="choise-bouquet__variant--label">

										<input type="checkbox" name="bouquetColor_orange">

										<span class="choise-bouquet__variant">
											<span class="choise-bouquet__variant--text">Оранжевый</span>
											<!-- Decor -->
											<span class="choise-bouquet__variant--decor">
												<span class="choise-bouquet__variant--decor_color">
													<span class="choise-bouquet__variant--decor_color-value" style="background-color:orange;"></span>
												</span>
											</span>
											<!-- //Decor -->
										</span>
										
										
									</label>
								</div>
								<!-- //Item -->

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section choice  bouquet-->

			<!-- Section about -->
			<section class="sect__about gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>


				<div class="about-us">
					<div class="about-us__content bg bg-with-overlay" style="background-image: url('img/backgrounds/decor-bg.jpg');">
						<div class="container">

							<div class="about-us__content--block">
								<div class="about-us__content--block_text">
									<img src="img/women.png" alt="Tea Rose">
									<h3 class="sect__title sect__title--accent">О магазинах «Чайная Роза»</h3>
									<p>Хакерские методы взлома. Самый опасный и незаметный способ украсть вашу страницу или личную информацию. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Lorem ipsum dolor sit amet.</p>
								</div>

								<div class="about-us__content--block_img">
									<img src="img/women.png" alt="Tea Rose">
								</div>
							</div>

						</div>
						<!-- //container -->
					</div>

					<div class="about-us__btn container text-left">
						<a href="page-about.html" class="btn">Читать полностью</a>
					</div>


				</div>
				
			</section>
			<!-- //Section about -->

			<!-- Section blog -->
			<section class="sect__blog">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="blog">
						<div class="row align-vertical-center blog__row">
							<div class="blog__articles--col">
								<div class="row align-horisontal-start">

									{% include '../parts/components/article-card.html' %}
									{% include '../parts/components/article-card.html' %}
									{% include '../parts/components/article-card.html' %}
								</div>
							</div>

							<div class="blog-title__content--col">
								<div class="blog-title__content">
									<img src="img/decor/blog-title-decor.svg" class="decor-img" alt="Tea rose">
									<h3 class="sect__title">Блог<br>Чайной<br>Розы</h3>
									<a href="page-blog.html" class="permalink">Открыть статьи</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section blog -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>