{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page">
			
			<section class="sect__catalog gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Букеты</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

					<div class="catalog">
						<div class="row align-vertical-start catalog__row">
							{% include '../parts/sections/sidebar.html' %}
							
							<!-- Products -->
							<div class="catalog__products">
								<div class="row catalog__products--row align-horisontal-start">
									{% include '../parts/components/product-card.html' %}
									{% include '../parts/components/product-card.html' %}
									{% include '../parts/components/product-card.html' %}
									{% include '../parts/components/product-card.html' %}
									{% include '../parts/components/product-card.html' %}
									{% include '../parts/components/product-card.html' %}
								</div>
							</div>
							<!-- //Products -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>