{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popups/popup-login.html' %}
		{% include '../parts/components/popups/popup-add-to-cart.html' %}
		{% include '../parts/components/popups/popup-subscribe-thanks.html' %}

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page">
			
			<section class="sect__about-us">
				<h2 class="w3c">&nbsp;</h2>


				<div class="container">

					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">О нас</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

				</div>
				<!-- //container -->

				<!-- Section about-us  -->
				<section class="sect__about-us--content gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="row align-vertical-top align-horisontal-between about-us__row">
							<div class="about-us__col about-us__col--wide">
								<!-- Title col -->
								<div class="sect__title--col sect__title--col-with-circle">
									<span class="drop drop-triple"></span>
									<img src="img/decor/1.svg" class="decor-img" alt="Tea rose">
									<h3 class="sect__title">О компании<br>«Чайная Роза»</h3>
									<p class="sect__text">Хакерские методы взлома. Самый опасный и незаметный способ украсть вашу страницу или личную информацию. Сегодня существует огромное количество путей осуществить данное действие без вашего ведома. Пользуясь общей сетью Wi-Fi или даже мобильным интернетом вы находитесь в зоне риска.</p>
								</div>
								<!-- //Title col -->

								<div class="row align-horisontal-end about-us__content--img">
									<img src="img/product-thumb.jpg" alt="Описание картинки">
								</div>
							</div>
							<!-- //col -->

							<div class="about-us__col">
								<div class="content">
									<img src="img/product.jpg" alt="Описание картинки">
									<h4>Заголовок</h4>
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Повстречался моей составитель лучше дорогу он, собрал эта предложения безорфографичный запятых, сих последний что наш раз переписывается меня несколько, города.</p>
								</div>
							</div>
							<!-- //col -->
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section about-us  -->

				<!-- Section about-us  -->
				<section class="sect__about-us--params">
					<div class="about-us">
						<div class="about-us__content bg bg-with-overlay" style="background-image: url('img/backgrounds/decor-bg.jpg');">
							<div class="container">

								<div class="about-us__content--block">
									
									<div class="row align-horisontal-end">
										<div class="about-us__content--block_img js-item-parallax"   data-parallax-speed="0.1" data-parallax-direction="vertical-top">
											<span class="drop drop-triple js-item-parallax"  data-parallax-speed="0.2" data-parallax-direction="vertical-bottom"></span>
											<img src="img/women.png" alt="Tea Rose">
										</div>

										<div class="about-us__content--block_text">

											<span class="gold-leaf js-item-parallax" data-parallax-speed="0.15" data-parallax-direction="vertical-bottom"></span>

											<div class="about-us__params">
												<div class="about-us__param">
													<span class="about-us__param--num">25</span>
													<p>лет со дня<br>основания<br>«Чайной розы»</p>
												</div>

												<div class="about-us__param">
													<span class="about-us__param--num">5674</span>
													<p>бутонов мы<br>продаем каждый<br>месяц</p>
												</div>

												<div class="about-us__param">
													<span class="about-us__param--num">2512</span>
													<p>лет со дня<br>основания<br>«Чайной розы»</p>
												</div>
											</div>

										</div>

										
									</div>
								</div>

							</div>

						</div>

					</div>


					<div class="decor-figure decor-figure-top js-item-parallax" data-parallax-speed="0.15" data-parallax-direction="vertical-top"></div>
					<div class="decor-figure decor-figure-bottom js-item-parallax" data-parallax-speed="0.15" data-parallax-direction="vertical-bottom"></div>
				</section>
				<!-- //Section about-us  -->

				<!-- Section about-us  -->
				<section class="sect__about-us--content gutter-top">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="row align-vertical-center align-horisontal-between about-us__row">
							<div class="about-us__col">
								<div class="content">
									<h4>Заголовок</h4>
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Повстречался моей составитель лучше дорогу он, собрал эта предложения безорфографичный запятых, сих последний что наш раз переписывается меня несколько, города.</p>
									<img src="img/product.jpg" alt="Описание картинки">
								</div>
							</div>
							<!-- //col -->

							<div class="about-us__col about-us__col--wide">
								<!-- Title col -->
								<div class="sect__title--col">
									<div class="content">
										<img src="img/product-thumb.jpg" alt="Описание картинки">
										<h4>Заголовок</h4>
										<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Повстречался моей составитель лучше дорогу он, собрал эта предложения безорфографичный запятых, сих последний что наш раз переписывается меня несколько, города.</p>

									</div>
								</div>
								<!-- //Title col -->
							</div>
							<!-- //col -->


						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section about-us  -->


				<!-- Section blog -->
				<section class="sect__blog gutter-top">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="blog block-with-gutter-and-border">
							<div class="row align-vertical-center blog__row">
								<div class="blog__articles--col">
									<div class="row align-horisontal-start">

										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
									</div>
								</div>

								<div class="blog-title__content--col">
									<div class="blog-title__content">
										<span class="drop drop-double"></span>
										<img src="img/decor/blog-title-decor.svg" class="decor-img" alt="Чайная роза">
										<h3 class="sect__title">Читайте<br>так же</h3>
										<a href="page-blog.html" class="permalink">Открыть статьи</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section blog -->




			</section>
			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>