{% include '../parts/head.html' %}
<body class="body-decor-bg">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popups/popup-login.html' %}
		{% include '../parts/components/popups/popup-add-to-cart.html' %}
		{% include '../parts/components/popups/popup-quick-order.html' %}
		{% include '../parts/components/popups/popup-subscribe-thanks.html' %}

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page">

			<div class="product-page">

				<section class="sect__product gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<!-- Breadcrumbs -->
						<div class="breadcrumbs">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
								<li class="breadcrumbs__item"><a href="page-catalog.html" class="breadcrumbs__link">Букеты</a></li>
								<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Название букета</span></li>
							</ul>
						</div>
						<!-- //Breadcrumbs -->

						<div class="product">
							<div class="row align-vertical-start align-horisontal-between product__row">

								<div class="product__img">
									<img src="img/product.jpg" alt="Название букета">
								</div>

								<!-- Product information -->
								<div class="product__information">

									<p class="articul">арт: 34561</p>

									<div class="product__description">
										<h3 class="product__description--title">Описание:</h3>

										<div class="product__description--text">
											<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Инициал, семь, правилами. Ручеек путь предложения <span>языкового океана даль злых большой если его? Однажды взобравшись заглавных собрал. Оксмокс, буквоград букв, жизни переписали журчит власти щеке жаренные! Даже, предупредила оксмокс.</span></p>
										</div>

										<button type="button" class="permalink btn__toggle js-toggle-text-block-btn" data-default-text="Читать полностью..." data-toggled-text="Скрыть"></button>
									</div>

									<div class="product__tools--wrapper">
										<div class="product__price">
											<span class="product__price--label">Цена:</span>
											<p class="price">98 123 грн</p>
										</div>


										<div class="product__tools">
											{% include '../parts/components/quantity-lg.html' %}

											<div class="card__tools">
												<!-- Wishlist btn -->
												<a href="#" class="link-wishlist link-wishlist__lg tooltip__wrapper">
													<i class="link-wishlist__ic">
														<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.651px" height="18.534px" viewBox="0 0 20.651 18.534" enable-background="new 0 0 20.651 18.534" xml:space="preserve">
															<g>
																<g>
																	<g>
																		<path d="M10.326,5.913c-0.276,0-0.5-0.224-0.5-0.5C9.826,2.979,7.847,1,5.413,1S1,2.979,1,5.413c0,0.276-0.224,0.5-0.5,0.5
																		S0,5.689,0,5.413C0,2.429,2.429,0,5.413,0s5.413,2.429,5.413,5.413C10.826,5.689,10.603,5.913,10.326,5.913z"/>
																	</g>
																	<g>
																		<path d="M20.151,5.913c-0.276,0-0.5-0.224-0.5-0.5C19.651,2.979,17.672,1,15.239,1c-2.434,0-4.413,1.979-4.413,4.413
																		c0,0.276-0.224,0.5-0.5,0.5s-0.5-0.224-0.5-0.5C9.826,2.429,12.255,0,15.239,0s5.412,2.429,5.412,5.413
																		C20.651,5.689,20.428,5.913,20.151,5.913z"/>
																	</g>
																	<g>
																		<path d="M10.326,18.534C9.108,18.534,0,11.182,0,5.413c0-0.276,0.224-0.5,0.5-0.5S1,5.137,1,5.413
																		c0,5.034,8.401,11.888,9.375,12.125c0.875-0.237,9.276-7.093,9.276-12.125c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5
																		C20.651,11.182,11.544,18.534,10.326,18.534z"/>
																	</g>
																</g>
																<g>
																	<path d="M17.678,5.762c-0.276,0-0.5-0.224-0.5-0.5c0-1.069-0.869-1.938-1.938-1.938c-0.407,0-0.796,0.124-1.124,0.358
																	c-0.223,0.159-0.537,0.111-0.697-0.115c-0.161-0.225-0.109-0.537,0.115-0.697c0.499-0.357,1.089-0.546,1.706-0.546
																	c1.62,0,2.938,1.318,2.938,2.938C18.178,5.538,17.954,5.762,17.678,5.762z"/>
																</g>
															</g>
														</svg>
													</i>

													<!-- Tooltip -->
													<span class="tooltip tooltip-top">В избранное</span>
													<!-- //Tooltip -->
												</a>
												<!-- //Wishlist btn -->

												<a href="#" class="btn btn-with-ic btn-with-ic__lg js-add-to-cart-btn">В корзину</a>
											</div>

											<a href="#" class="btn btn-transparent js-open-popup-form-btn btn-wide">Купить в один клик</a>

										</div>

									</div>
								</div>
								<!-- //Product information -->

							</div>


							<div class="product__visual">
								<div class="row align-vertical-start align-horisontal-between product__visual--row">
									<div class="product__visual--col">
										<img src="img/product.jpg" alt="Название продукта">
										<h3>Заголовок</h3>
										<p>Хакерские методы взлома. Самый опасный и незаметный способ украсть вашу страницу или личную информацию. .</p>
									</div>

									<div class="product__visual--col">
										<img src="img/product.jpg" alt="Название продукта">
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- //container -->
				</section>

				<!-- Section product video -->

				<section class="sect__product-video gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">

						<div class="row align-vertical-center align-horisontal-end">


							<div class="product__video--wrapper">

								<div class="product__video">
									<iframe src="https://www.youtube.com/embed/IVAF7yO-5C8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>

								<div class="sect__title--col sect__title--col-with-circle" >

									<span class="drop drop-triple"></span>
									<img src="img/decor/1.svg" class="decor-img" alt="Tea rose">
									<h3 class="sect__title">Заголовок для видео</h3>
									<p class="sect__text">Мы индивидуально подобрали несколько позиций, которые могут быть полезны для вас</p>
								</div>

							</div>
						</div>

					</div>
					<!-- //container -->



				</section>
				<!-- //Section product video -->

				<!-- Section another products -->
				<section class="sect__another-products gutters">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">

						<div class="products-slider__wrapper block-with-gutter-and-border">

							<div class="row align-horisontal-start products-slider__row">

								<div class="sect__title--col sect__title--col-with-circle">
									<div class="sect__title--col-content">
										<span class="drop drop-double"></span>
										<img src="img/decor/blog-title-decor.svg" class="decor-img" alt="Tea rose">
										<h3 class="sect__title">Похожие<br>товары</h3>
										<p class="sect__text">Мы индивидуально подобрали несколько позиций, которые могут быть полезны для вас</p>
									</div>

									<!-- Slider navigation -->
									<div class="slider__navigation">
										<button class="btn__arrow btn__arrow--prev js-products-slider-btn-prev" type="button">
											<i class="btn__arrow--ic">

												<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75.951 9.416" enable-background="new 0 0 75.951 9.416" xml:space="preserve">
													<path  d="M75.92,4.86c0.006-0.02,0.015-0.038,0.019-0.058c0.004-0.019,0.003-0.038,0.004-0.057
													c0.001-0.013,0.008-0.024,0.008-0.038s-0.007-0.025-0.008-0.038c-0.001-0.019-0.001-0.038-0.004-0.057
													c-0.004-0.02-0.012-0.038-0.019-0.058c-0.008-0.026-0.017-0.049-0.029-0.073c-0.009-0.017-0.016-0.033-0.026-0.049
													c-0.004-0.006-0.004-0.013-0.009-0.019c-0.008-0.011-0.02-0.016-0.028-0.026c-0.018-0.021-0.037-0.04-0.058-0.058
													c-0.01-0.009-0.015-0.021-0.026-0.028l-5.809-4.208c-0.22-0.159-0.534-0.113-0.698,0.112c-0.162,0.224-0.111,0.536,0.112,0.698
													l4.559,3.303H0.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h73.409L69.35,8.511c-0.224,0.162-0.274,0.475-0.112,0.698
													c0.099,0.136,0.251,0.207,0.405,0.207c0.103,0,0.205-0.031,0.293-0.095l5.809-4.209c0.011-0.008,0.016-0.02,0.026-0.028
													c0.023-0.019,0.042-0.04,0.061-0.063C75.839,5.013,75.85,5.01,75.856,5c0.004-0.006,0.005-0.013,0.009-0.019
													c0.01-0.016,0.018-0.032,0.026-0.049C75.903,4.909,75.912,4.885,75.92,4.86z"/>
												</svg>

											</i>
										</button>
										<button class="btn__arrow btn__arrow--next js-products-slider-btn-next" type="button">
											<i class="btn__arrow--ic">

												<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75.951 9.416" enable-background="new 0 0 75.951 9.416" xml:space="preserve">
													<path  d="M75.92,4.86c0.006-0.02,0.015-0.038,0.019-0.058c0.004-0.019,0.003-0.038,0.004-0.057
													c0.001-0.013,0.008-0.024,0.008-0.038s-0.007-0.025-0.008-0.038c-0.001-0.019-0.001-0.038-0.004-0.057
													c-0.004-0.02-0.012-0.038-0.019-0.058c-0.008-0.026-0.017-0.049-0.029-0.073c-0.009-0.017-0.016-0.033-0.026-0.049
													c-0.004-0.006-0.004-0.013-0.009-0.019c-0.008-0.011-0.02-0.016-0.028-0.026c-0.018-0.021-0.037-0.04-0.058-0.058
													c-0.01-0.009-0.015-0.021-0.026-0.028l-5.809-4.208c-0.22-0.159-0.534-0.113-0.698,0.112c-0.162,0.224-0.111,0.536,0.112,0.698
													l4.559,3.303H0.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h73.409L69.35,8.511c-0.224,0.162-0.274,0.475-0.112,0.698
													c0.099,0.136,0.251,0.207,0.405,0.207c0.103,0,0.205-0.031,0.293-0.095l5.809-4.209c0.011-0.008,0.016-0.02,0.026-0.028
													c0.023-0.019,0.042-0.04,0.061-0.063C75.839,5.013,75.85,5.01,75.856,5c0.004-0.006,0.005-0.013,0.009-0.019
													c0.01-0.016,0.018-0.032,0.026-0.049C75.903,4.909,75.912,4.885,75.92,4.86z"/>
												</svg>

											</i>
										</button>
									</div>
									<!-- //Slider navigation -->
								</div>


								<!-- Slider -->
								<div class="products-slider">
									<div class="swiper-container js-products-slider">
										<div class="swiper-wrapper">
											<!-- Slide -->
											<div class="swiper-slide">
												<div class="products-slider__slide">
													{% include '../parts/components/card.html' %}
												</div>
											</div>
											<!-- //Slide -->
											<!-- Slide -->
											<div class="swiper-slide">
												<div class="products-slider__slide">
													{% include '../parts/components/card.html' %}
												</div>
											</div>
											<!-- //Slide -->
											<!-- Slide -->
											<div class="swiper-slide">
												<div class="products-slider__slide">
													{% include '../parts/components/card.html' %}
												</div>
											</div>
											<!-- //Slide -->
											<!-- Slide -->
											<div class="swiper-slide">
												<div class="products-slider__slide">
													{% include '../parts/components/card.html' %}
												</div>
											</div>
											<!-- //Slide -->
										</div>
									</div>
								</div>
								<!-- //Slider -->
							</div>
							<!-- /row -->
						</div>

					</div>
					<!-- //container -->
				</section>
				<!-- //Section another products -->

				<!-- Section viewed products -->
				<section class="sect__viewed-products gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container block-with-gutter-and-border">
						<h3 class="sect__title text-center">Просмотренные товары</h3>

						<div class="viewed-products">
							<div class="row align-horisontal-start viewed-products__row">
								{% include '../parts/components/card-active-wishlist.html' %}
								{% include '../parts/components/card.html' %}
								{% include '../parts/components/card.html' %}	
								{% include '../parts/components/card.html' %}	
							</div>
						</div>
					</div>
					<!-- //container -->

				</section>
				<!-- //Section viewed products -->


				<div class="decor-figure js-item-parallax" data-parallax-speed="0.3" data-parallax-direction="vertical-top"></div>

			</div>
			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>