{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popups/popup-login.html' %}
		{% include '../parts/components/popups/popup-subscribe-thanks.html' %}

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page">
			
			<section class="sect__content gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Заголовок страницы</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->


					<div class="row align-vertical-start align-horisontal-start sect__content--row row-nowrap">
						
						<div class="content__img">
							<img src="img/women.png" alt="Контентное изображение">
						</div>

						<div class="content__col">
							<div class="sect__title--col sect__title--col-with-circle">
								<span class="drop drop-triple"></span>
								<img src="img/decor/1.svg" class="decor-img" alt="Tea rose">
								<h1 class="sect__title">Политика конфиденциальности</h1>
							</div>

							<div class="content">
								<p>Далеко-далеко за словесными горами в стране, гласных и <strong>согласных живут рыбные тексты</strong>. Выйти рекламных своих, вопроса пустился свой жизни заглавных, несколько оксмокс что безорфографичный осталось великий, ipsum, заголовок решила мир. Даль, всеми, взгляд.</p>
								<p>Она подпоясал свой предупредила дороге, пустился <b>грамматики. Сбить по всей составитель дорогу жизни</b> ipsum, не ему силуэт собрал большого lorem алфавит безопасную текста дал, напоивший гор, использовало текстов его буквоград наш текстами? Рукописи даже предупреждал, большого правилами безорфографичный проектах вопрос о реторический путь свою. Эта агенство, там свой знаках, не своего?</p>
								<h2>h2</h2>
								<p>Далеко-далеко за словесными горами в стране, <a href="#">гласных и согласных живут рыбные тексты</a>. Злых ты переписывается до lorem щеке, свою! Даль предупредила свой, осталось, текста буквенных, единственное языком возвращайся свое города назад, грустный.</p>
								<h3>h3</h3>
								<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор, там, пор. Мир, живет великий заманивший жаренные всеми запятых!</p>
								<h4>h4</h4>
								<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор, там, пор. Мир, живет великий заманивший жаренные всеми запятых!</p>
								<h5>h5</h5>
								<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор, там, пор. Мир, живет великий заманивший жаренные всеми запятых!</p>
								<h6>h6</h6>
								<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жаренные все ты они приставка себя выйти бросил, над маленькая знаках обеспечивает. Что злых грамматики пор рот предупреждал, безопасную свой?</p>

								<ul>
									<li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</li>
									<li>Сбить оксмокс, коварных. За города переулка деревни скатился сбить до.</li>
									<li>По всей гор коварный, маленький заглавных назад строчка. Меня толку, несколько?</li>
									<li>Знаках переулка пустился дороге, силуэт точках речью жаренные власти бросил.</li>
									<li>Снова бросил вопроса заманивший языкового запятых своих страну заголовок своего?</li>
								</ul>

								<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Строчка деревни, буквенных моей инициал.</p>

								<ol>
									<li>Далеко-далеко за словесными горами в стране.</li>
									<li>Текстов которой, это курсивных своего?</li>
									<li>Вершину встретил запятой не своего!</li>
									<li>Проектах образ снова, запятой запятых.</li>
									<li>Ведущими родного силуэт власти, имеет?</li>
								</ol>
							</div>

						</div>
					</div>


				</div>
				<!-- //container -->
			</section>
			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>