{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popups/popup-login.html' %}
		{% include '../parts/components/popups/popup-subscribe-thanks.html' %}

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page">
			
			<section class="sect__blog gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Блог</span></li>
						</ul>
					</div>
					<!-- //Breadcrumbs -->

					<div class="blog">

						<div class="blog__categories">

							<!-- Category -->
							<div class="blog__category">

								<h2 class="blog__category--title js-item-parallax" data-parallax-speed=".1" data-parallax-direction="horisontal-left">Май 2020</h2>

								<div class="blog__articles--col">
									<div class="row align-horisontal-start">
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
									</div>
								</div>
							</div>
							<!-- //Category -->

							<!-- Category -->
							<div class="blog__category">

								<h2 class="blog__category--title js-item-parallax" data-parallax-speed=".1" data-parallax-direction="horisontal-left">Декабрь 2019</h2>

								<div class="blog__articles--col">
									<div class="row align-horisontal-start">
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
									</div>
								</div>
							</div>
							<!-- //Category -->

							<!-- Category -->
							<div class="blog__category">

								<h2 class="blog__category--title js-item-parallax" data-parallax-speed=".1" data-parallax-direction="horisontal-left">Сентябрь 2019</h2>

								<div class="blog__articles--col">
									<div class="row align-horisontal-start">
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
										{% include '../parts/components/article-card.html' %}
									</div>
								</div>
							</div>
							<!-- //Category -->

						</div>

						{% include '../parts/components/pagination.html' %}

					</div>
				</div>
				<!-- //container -->
			</section>
			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>