{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page">
			
			<section class="sect__technical bg-with-overlay bg" style="background-image: url('img/backgrounds/decor-bg.jpg');">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					
					<div class="thanks">
						<img src="img/decor/gold-leafs.svg" alt="Tea Rose">
						<h2 class="technical__title">Спасибо</h2>
						<div class="technical__text">
							<p>Наш менеджер свяжется с Вами<br>в ближайшее время</p>
						</div>
						<a href="index.html" class="btn">На главную</a>

					</div>

				</div>
				<!-- //container -->
			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>