<!-- Popup login-->
<div class="popup js-popup js-popup-login-form" >
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<!-- Close btn -->
			<button class="btn__close js-close-popup-btn" type="button">
				<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
					<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
					L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
					c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
					l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
					L284.286,256.002z"/>
				</svg>
			</button>
			<!-- //Close btn -->

			<!-- Popup content-->
			<div class="popup__content">
				<h3 class="popup__title">Личный кабинет</h3>

				<div class="popup__tabs--controls">
					<button class="btn__tab js-tab-btn is-active" type="button">Авторизация</button>
					<button class="btn__tab js-tab-btn" type="button">Регистрация</button>
				</div>

				<div class="popup__tabs--forms">
					<!-- Login form -->
					<div class="popup__tab--form js-tab-content">
						<form class="popup__form text-left">
							<div class="input__wrapper">
								<input type="email" class="input-round js-input is-error" name="email" placeholder="e-mail *">
							</div>
							<div class="input__wrapper">
								<input type="password" class="input-round js-input" name="password" placeholder="Пароль *">
							</div>
							<div class="input__wrapper">
								<button class="btn btn-wide" type="button">Войти</button>
							</div>
						</form>

						<a href="#" class="forgot-pw-link js-open-restore-pw-form-btn">Забыли пароль?</a>
					</div>
					<!-- //Login form -->

					<!-- Registration form -->
					<div class="popup__tab--form js-tab-content">
						<form class="popup__form text-left">
							<div class="input__wrapper">
								<input type="text" class="input-round js-input is-error" name="name" placeholder="Ваше имя *">
							</div>
							<div class="input__wrapper">
								<input type="tel" class="input-round js-input" name="phone" placeholder="Ваш телефон *">
							</div>
							<div class="input__wrapper">
								<input type="email" class="input-round js-input" name="email" placeholder="e-mail *">
							</div>
							<div class="input__wrapper">
								<input type="password" class="input-round js-input" name="password" placeholder="Пароль *">
							</div>
							<div class="input__wrapper">
								<button class="btn btn-wide" type="button">Рагистрация</button>
							</div>

							<label class="checkbox__label">
								<input name="privacyPolicy" type="checkbox" checked>
								<span class="checkbox text-left">Даю разрешение на<br>обработку личных данных</span>
							</label>
						</form>
					</div>
					<!-- //Registration form -->
				</div>
				
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup login-->

<!-- Popup restore pw-->
<div class="popup js-popup js-popup-restore-pw-form">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<!-- Close btn -->
			<button class="btn__close js-close-popup-btn" type="button">
				<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
					<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
					L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
					c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
					l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
					L284.286,256.002z"/>
				</svg>
			</button>
			<!-- //Close btn -->

			<!-- Popup content-->
			<div class="popup__content">
				<h3 class="popup__title">Восстановление пароля</h3>
				<p class="popup__text">Мы вышлем Вам пароль на Ваш e-mail,<br>указанный при регистрации</p>
				<form class="popup__form text-left">
					<div class="input__wrapper">
						<input type="email" class="input-round js-input is-error" name="email" placeholder="e-mail *">
					</div>
					<div class="input__wrapper">
						<button class="btn btn-wide" type="button">Отправить</button>
					</div>
				</form>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup restore pw-->



