<nav class="nav-catalog">
	<ul class="nav-catalog__list">
		<li class="nav-catalog__item has-sublist">
			<a href="page-catalog.html" class="nav-catalog__link">Цветы</a>

			<button class="btn__toggle-subnav" type="button"></button>

			<!-- Sublist -->
			<div class="nav-catalog__sublist--wrapper">
				<div class="nav-catalog__sublist--content">
					<div class="container">
						<h2 class="nav-catalog__sublist--title">Цветы</h2>
						<ul>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Sublist -->
		</li>
		<li class="nav-catalog__item has-sublist">
			<a href="page-catalog.html" class="nav-catalog__link">Декор и подарки</a>

			<button class="btn__toggle-subnav" type="button"></button>

			<!-- Sublist -->
			<div class="nav-catalog__sublist--wrapper">
				<div class="nav-catalog__sublist--content">
					<div class="container">
						<h2 class="nav-catalog__sublist--title">Декор и подарки</h2>
						<ul>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными.</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Sublist -->


		</li>
		<li class="nav-catalog__item has-sublist">
			<a href="page-catalog.html" class="nav-catalog__link">Всё для свадьбы</a>

			<button class="btn__toggle-subnav" type="button"></button>

			<!-- Sublist -->
			<div class="nav-catalog__sublist--wrapper">
				<div class="nav-catalog__sublist--content">
					<div class="container">
						<h2 class="nav-catalog__sublist--title">Всё для свадьбы</h2>
						<ul>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за Далеко-далеко.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.Далеко-далеко.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далек.</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Sublist -->


		</li>
		<li class="nav-catalog__item has-sublist">
			<a href="page-catalog.html" class="nav-catalog__link">Новости и акции</a>

			<button class="btn__toggle-subnav" type="button"></button>

			<!-- Sublist -->
			<div class="nav-catalog__sublist--wrapper">
				<div class="nav-catalog__sublist--content">
					<div class="container">
						<h2 class="nav-catalog__sublist--title">Новости и акции</h2>
						<ul>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
							<li><a href="page-catalog.html">Далеко-далеко за словесными горами.</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Sublist -->

			
		</li>
		<li class="nav-catalog__item has-sublist">
			<a href="page-catalog.html" class="nav-catalog__link">Букет недели</a>

			<button class="btn__toggle-subnav" type="button"></button>

			<!-- Sublist -->
			<div class="nav-catalog__sublist--wrapper">
				<div class="nav-catalog__sublist--content">
					<div class="container">
						<h2 class="nav-catalog__sublist--title">Букет недели</h2>
						<ul>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
							<li><a href="page-catalog.html">Название цветов</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Sublist -->

			
		</li>
	</ul>
</nav>
