<nav class="nav-catalog">
	<ul class="nav-catalog__list">
		<li class="nav-catalog__item"><a href="#" class="nav-catalog__link">Цветы</a></li>
		<li class="nav-catalog__item"><a href="#" class="nav-catalog__link">Декор и подарки</a></li>
		<li class="nav-catalog__item"><a href="#" class="nav-catalog__link">Всё для свадьбы</a></li>
		<li class="nav-catalog__item"><a href="#" class="nav-catalog__link">Новости и акции</a></li>
		<li class="nav-catalog__item"><a href="#" class="nav-catalog__link">Букет недели</a></li>
	</ul>
</nav>
