<div class="product__quantity product__quantity--lg">
	<button type="button" class="btn__quantity minus js-quantity-btn" data-action="minus">

		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13.071 13.071" enable-background="new 0 0 13.071 13.071" xml:space="preserve">
			<g>
				<path d="M12.571,7.036H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h12.071c0.276,0,0.5,0.224,0.5,0.5
				S12.847,7.036,12.571,7.036z"/>
			</g>
		</svg>


	</button>

	<input type="number" class="product__quantity--input js-quantity-input"  min="1" placeholder="0" name="quantity" value="1">

	<button type="button" class="btn__quantity plus js-quantity-btn" data-action="plus">

		<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13.071 13.071" enable-background="new 0 0 13.071 13.071" xml:space="preserve">
			<path d="M12.571,6.036H7.036V0.5c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5v5.536H0.5c-0.276,0-0.5,0.224-0.5,0.5
			s0.224,0.5,0.5,0.5h5.536v5.535c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V7.036h5.535c0.276,0,0.5-0.224,0.5-0.5
			S12.847,6.036,12.571,6.036z"/>
		</svg>

	</button>
</div>