.btn
	display inline-block
	font 16px $SemiBold
	padding 22px 70px
	line-height 1
	text-align center
	color $light-color
	background-color $accent-color
	transition all .17s ease-in-out
	backface-visibility hidden
	border-radius 50px
	box-shadow 0px 14px 25px -11px rgba(224,83,83,0.45)
	&:hover
		box-shadow none
	&-wide
		width 100%
		padding-left 15px
		padding-right 15px
		
	&-cart
		font 14px $Med
	
	&-with-ic
		font-size 14px
		text-align right
		width 155px
		padding 18px 25px 18px 45px
		background-image url('../img/icons/svg/cart-ic.svg') 
		background-position 17px 50% 
		background-repeat no-repeat
		background-size 20px 18px
		
	&-light
		background-color $light-color
		color $accent-color

		
	&__close
		display inline-block
		width 16px
		height 16px
		svg
			svg()
			fill #090909
		&:hover
			svg
				fill $accent-color
		
	&__arrow
		display inline-block
		width 76px
		height 9.5px
		will-change transform 
		backface-visibility hidden
		&--prev
			transform scaleX(-1)
		&--ic
			block()
		svg
			svg()
			fill $accent-color
			
		&:hover
			svg
				fill $dark-accent-color
				
	&__tab
		background-color $light-color
		border-radius 50px
		padding 10px 15px
		text-align center
		font 14px $Med
		color $text-color
		&.is-active,
		&:hover
			background-color $alternate-color
			color $light-color
		
	&__top
		display none
		border-radius 50%
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background-color $accent-color
		z-index 10
		text-align center
		transition all .17s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($dark-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $dark-color
			border-right 1px solid $dark-color
			transition all .23s ease-in-out
		&:hover
			background-color $dark-color
			transform scale(1.1)
			box-shadow 0px 0px 13px 0px rgba($accent-color, 0.21)
			&:after
				border-top 1px solid $accent-color
				border-right 1px solid $accent-color
		

	&__hamburger
		display inline-block
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $accent-color
		position relative
		transition background-color .17s ease-in-out
		margin-left 15px
		&--line
			width 27px
			height 2px
			background-color $dark-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
		