.btn
	display inline-block
	font 16px $SemiBold
	padding 22px 70px
	line-height 1
	text-align center
	color $light-color
	background-color $accent-color
	transition all .17s ease-in-out
	backface-visibility hidden
	border-radius 50px
	box-shadow 0px 14px 25px -11px rgba(224,83,83,0.45)
	&:hover
		box-shadow none
	&-wide
		width 100%
		padding-left 15px
		padding-right 15px
		
	
	
	&-with-ic
		font-size 14px
		text-align right
		white-space nowrap
		width 155px
		padding 18px 25px 18px 45px
		background-image url('../img/icons/svg/cart-ic.svg') 
		background-position 17px 50% 
		background-repeat no-repeat
		background-size 20px 18px
		
		&__lg
			padding-top 22px
			padding-bottom 22px
			height 60px
			width 185px
			font-size 16px
			background-size 22px 22px
			background-position 20px 50%
		
	&-cart
		font 14px $Med
		
		.icon-link__counter
			display none
		
		&.is-empty
			width 55px
			height 55px
			border-radius 50%
			background-position 50% 50%
			padding 0
			// pointer-events none
				
			.icon-link__counter
				display none
			
			.btn-cart__count
				display none
			
		
	&-light
		background-color $light-color
		color $accent-color
		
		&-with-shadow
			background-color $light-color
			color $text-color
			box-shadow $round-input-shadow
			font-family $Reg
			&:hover
				box-shadow none
		
	&-dark
		color $text-color
		box-shadow none
		font-family $Med
		background-color $color-bg
		&:hover
			background-color $accent-color
			color $light-color
			
	&-transparent
		background-color transparent
		color $text-color
		border 1px solid $accent-color
		box-shadow none
		font-family $Med
		&:hover
			background-color $accent-color
			color $light-color
			
	&-secondary-color
		background-color $secondary-color
		color $light-color
		
		&:hover
			background-color $accent-color
			color $light-color
	
	&-grey
		background-color #f7f5f5
		color $secondary-color
			
	&-md
		font-size 14px
		padding-top 18px
		padding-bottom 18px
			
			
	&-equal
		width 100%
		max-width 230px
		padding-left 15px
		padding-right 15px

		
	&__close
		display inline-block
		width 16px
		height 16px
		svg
			svg()
			fill #090909
		&:hover
			svg
				fill $accent-color
				
	&__toggle-subnav
		display none
		width 30px
		height 100%
		background url('../img/icons/svg/arrow-sm-light.svg') 50% 50% no-repeat / 12px 5px
		will-change transform
		transition transform .17s ease-in-out
		&.is-active
			transform rotate(-180deg)
	
		
	&__arrow
		display inline-block
		width 76px
		height 9.5px
		will-change transform 
		backface-visibility hidden
		&--prev
			transform scaleX(-1)
		&--ic
			block()
		svg
			svg()
			fill $accent-color
			
		&:hover
			svg
				fill $dark-accent-color
				
	&__tab
		background-color $light-color
		border-radius 50px
		padding 10px 15px
		text-align center
		font 14px $Med
		color $text-color
		&.is-active,
		&:hover
			background-color $alternate-color
			color $light-color
		
	&-toggle-filter
		position relative
		display none
		&:before
			content attr(data-default-text)
		&.is-active
			&:before
				content attr(data-toggled-text)
		

	&__hamburger
		display none
		flex none
		width 45px
		height 45px
		border-radius 50%
		background-color $accent-color
		position relative
		transition all.17s ease-in-out
		margin-left 25px
		box-shadow 0px 14px 25px -11px rgba(224,83,83,0.45)
		&:before,
		&:after
			pseudo()
			position absolute
			position-center()
			transition opacity .17s ease-in-out
			background-position 50% 50%
			background-repeat no-repeat
			background-size contain
			
		&:before
			width 22.008px
			height 7.623px
			background-image url('../img/icons/svg/hamburger/menu.svg')
			
		&:after
			width 16px
			height 16px
			background-image url('../img/icons/svg/hamburger/close.svg')
			opacity 0
		
		&.is-active
			&:before
				opacity 0
			&:after
				opacity 1
					
	&__reset
		display inline-block
		position relative
		padding-right 30px
		font 14px $Med
		line-height 1
		text-align left
		&--ic
			display block
			width 12px
			height 12px
			position absolute
			vertical-center()
			right 0
		
		svg
			svg()
			fill $accent-color
			
		&:hover
			color $accent-color
			svg
				fill $accent-color
				
	&__quantity
		width 50px	
		height 50px	
		line-height 50px
		border-radius 50%
		background-color $accent-color
		box-shadow 0px 3px 3px -1px rgba($dark-color,0.16)
		color $light-color
		font-size 40px
		font-family $Reg
		position relative
		svg
			display block
			fill $light-color
			width 11px
			height 11px
			position absolute
			position-center()
			
		
				
		&:hover
			background-color $dark-accent-color
			box-shadow none
			

			
	&__delete
		background-color $color-bg
		svg
			fill $accent-color
			
		&:hover
			background-color $dark-accent-color
			svg
				fill $light-color
	
	&__toggle
		position relative
		display inline-block
		&:before
			content attr(data-default-text)
		&.is-toggled
			&:before
				content attr(data-toggled-text)