.nav
	&__item
		display inline-block
		margin-right 36px
		&:last-child
			margin-right 0
	&__link
		font 14px $Med
		color $text-color
		
	&-catalog
		&__col
			flex 1
			margin-right 45px
			
		&__list
			display flex
			justify-content space-between
			align-items center
		
		&__item
			margin-right 10px
			&:last-child
				margin-right 0
				
			&.is-important
				position relative
				z-index 11
				
			&.has-sublist
		
					
				> .nav-catalog__link
					padding-right 20px
					&:after
						pseudo()
						width 12px
						height 5px
						background url('../img/icons/svg/arrow-sm.svg') 50% 50% no-repeat / 12px 5px
						position absolute
						right 0
						top 50%
						transform translateY(-50%)
						will-change transform
						transition transform .17s ease-in-out
						
				&:hover
					> .nav-catalog__link
						color $accent-color
						&:after
							transform translateY(-50%) rotate(-180deg)
							
					.nav-catalog__sublist--wrapper
						margin-top -8px
						opacity 1
						visibility visible
						pointer-events auto
						
			&--mobile
				display none
				
				
									
		&__link
			font-size 14px
			color $nav-link-color
			display inline-block
			position relative
			&:hover
				color $accent-color
				
			&--important
				font-family $Med
				color $light-color
				background-color $secondary-color
				border-radius 30px
				padding 5px 20px
				position relative
				z-index 10
				span
					display inline-block
					animation neon-desktop 1.5s ease-in-out infinite alternate
					
				&:hover
					color $light-color
				
		&__sublist
			&--wrapper
				position absolute
				z-index 10
				top 100%
				left 0
				width 100%
				background-color $light-color
				padding-top 30px
				margin-top 15px
				transition all .17s ease-in-out
				opacity 0
				visibility hidden
				pointer-events none
				
			&--content
				background-color $secondary-color
				padding 55px 0
				max-height 85vh
				overflow-y auto
				color $light-color
				
				a
					color inherit
					font 14px $SemiBold
					&:hover
						color $light-accent-color
				
				ul
					column-count 4
					column-gap 30px
					
					li
						display block
						margin-bottom 20px
			&--title
				font 34px $PBold
				margin-bottom 35px
				
			
@keyframes neon-desktop
	from 
		text-shadow 0 0 10px rgba($light-color, .6), 
		0 0 20px rgba($light-color, .6), 
		0 0 30px rgba($light-color, .6), 
		0 0 40px rgba($light-color, .6), 
		0 0 70px rgba($light-color, .6), 
		0 0 80px rgba($light-color, .6), 
		0 0 100px rgba($light-color, .6), 
		0 0 150px rgba($light-color, .6)
	to 
		text-shadow 0 0 5px rgba($light-color, .6), 
		0 0 10px rgba($light-color, .6), 
		0 0 15px rgba($light-color, .6), 
		0 0 20px rgba($light-color, .6), 
		0 0 35px rgba($light-color, .6), 
		0 0 40px rgba($light-color, .6), 
		0 0 50px rgba($light-color, .6), 
		0 0 75px rgba($light-color, .6)
		
@keyframes neon-mobile
	from 
		text-shadow 0 0 2px rgba($light-color, .25), 
		0 0 4px rgba($light-color, .25), 
		0 0 6px rgba($light-color, .25), 
		0 0 8px rgba($light-color, .25), 
		0 0 10px rgba($light-color, .25), 
		0 0 12px rgba($light-color, .25), 
		0 0 14px rgba($light-color, .25), 
		0 0 16px rgba($light-color, .25)
	to 
		text-shadow 0 0 4px rgba($light-color, .25), 
		0 0 6px rgba($light-color, .25), 
		0 0 8px rgba($light-color, .25), 
		0 0 10px rgba($light-color, .25), 
		0 0 12px rgba($light-color, .25), 
		0 0 14px rgba($light-color, .25), 
		0 0 16px rgba($light-color, .25), 
		0 0 18px rgba($light-color, .25)

			

.footer__nav
	ul
		li
			display block
			margin-bottom 10px
			&:last-child
				margin-bottom 0
				
		a
			color $footer-text-color
			&:hover
				color $accent-color