.popup 
	position fixed
	position-center()
	z-index 90
	width 100%
	height 100%
	display none
	&__overflow
		position absolute
		left 0
		top 0
		width 100%
		backface-visibility hidden
		-webkit-backface-visibility hidden
		height 100%
		overflow auto
		box-sizing border-box
		-webkit-overflow-scrolling touch
		z-index 105
		background-color rgba($popup-overlay-bg, $popup-overlay-opacity)
		padding 10px
		text-align center
		white-space nowrap
		&:before
			pseudo()
			vertical-align middle
			width 0
			height 100%
	&__body
		width 100%
		max-width 470px
		background-color $popup-body-bg
		padding 50px 80px 30px 80px
		display inline-block
		vertical-align middle
		position relative
		white-space normal
		border-radius 30px
		
	&__title
		color $alternate-text-color
		font 23px $PBold
		
		
		
	&__text
		color rgba($dark-color, .3)
		font 14px $Med
		margin-top 30px
		
	&__form
		margin-top 30px
		.input__wrapper
			margin-bottom 20px
			
		.checkbox__label
			margin-top 30px
			
	&__btns
		margin-top 30px
	
	&__tabs
		&--controls
			margin-top 30px
			display flex
			align-items center
			justify-content space-between
			.btn__tab
				width 48%
		
	.btn__close
		position absolute
		top 30px
		right 30px
		
.forgot-pw-link
	color rgba($dark-color, .3)
	font 14px $Med
	&:hover
		color $accent-color

