<footer class="footer">
	<div class="footer__content">
		<div class="container">
			<div class="row footer__row">

				<div class="footer__logo">

					<!-- Logo -->
					<a href="index.html" class="logo" title="Чайная роза">
						<img src="img/logo-dark.svg" alt="Логотип Чайная роза">
					</a>
					<!-- //Logo -->

				</div>

				<div class="footer__actions">
					<div class="row footer__actions--row row-gutters">
						<div class="footer__col">
							<h2 class="footer__col--title">Разделы сайта</h2>

							<nav class="footer__nav">
								<ul>
									<li><a href="page-about.html">О нас</a></li>
									<li><a href="page-blog.html">Блог</a></li>
									<li><a href="page-contacts.html">Контакты</a></li>
									<li><a href="page-technical.html">Конфиденциальность</a></li>
									<li><a href="page-technical.html">Доставка</a></li>
									<li><a href="page-technical.html">Возврат</a></li>
									<li><a href="page-technical.html">Оплата</a></li>
									
								</ul>
							</nav>
						</div>
						<!-- //col -->

						<div class="footer__col">
							<h2 class="footer__col--title">Приезжайте в Киеве</h2>

							<div class="footer__contacts">
								<div class="footer__contacts--link_wrapper"><p class="footer__contacts--link block-with-ic block-with-ic__address">Бульвар Леси<br>Украинки 10</p></div>
								<div class="footer__contacts--link_wrapper"><p class="footer__contacts--link block-with-ic block-with-ic__address">Бульвар Леси<br>Украинки 15</p></div>
								<div class="footer__contacts--link_wrapper"><p class="footer__contacts--link block-with-ic block-with-ic__address">Бульвар Леси<br>Украинки 15</p></div>
							</div>
						</div>
						<!-- //col -->

						<div class="footer__col">
							<h2 class="footer__col--title">Свяжитесь</h2>

							<div class="footer__contacts footer__contacts--phones">
								<div class="footer__contacts--link_wrapper"><p class="footer__contacts--link block-with-ic block-with-ic__phone"><a href="tel:+380449829898">+38 044 982 98 98</a></p></div>
								<div class="footer__contacts--link_wrapper"><p class="footer__contacts--link block-with-ic block-with-ic__phone"><a href="tel:+380997232332">+38 099 723 23 32</a></p></div>
								<div class="footer__contacts--link_wrapper"><p class="footer__contacts--link block-with-ic block-with-ic__email"><a href="mailto:admin@tea-rose.com.ua<">admin@tea-rose.ua</a></p></div>
							</div>
						</div>
						<!-- //col -->

						<div class="footer__col">
							<h2 class="footer__col--title">Мы в соц. сетях</h2>

							<ul class="socials socials-accent">
								{% include '../components/socials-footer.html' %}
							</ul>

							<div class="developed">
								<p class="developed__text">Powered by:</p>
								<a href="#" class="developed__link" target="_blank" title="Grytsay" rel="nofollow">
									<img src="img/grytsay.svg" alt="Grytsay">
								</a>
							</div>
						</div>
						<!-- //col -->

					</div>
				</div>
			</div>

			<div class="copyright text-center">
				<p class="copyright__text">&copy; 2020 Все права защищены</p>
			</div>
		</div>
		<!-- //container -->
	</div>
</footer>
