<section class="subscribe accent-bg">
	<h2 class="w3c">&nbsp;</h2>
	<div class="container">
		<div class="row align-vertical-center align-horisontal-between subscribe__row">
			<p class="subscribe__text">Подпишитесь на рассылку,<br>что бы быть в курсе всех новостей</p>

			<form  class="subscribe__form">
				<div class="row align-vertical-center align-horisontal-start">
					<div class="input-round__wrapper">
						<input type="email" class="input-round" name="email" placeholder="e-mail">
					</div>
					<button class="btn" type="submit">Подписаться</button>
				</div>
			</form>
		</div>
	</div>
	<!-- //container -->
</section>