//  Fonts 
$Italic = 'MontserratItalic', Arial, sans-serif
$Med = 'MontserratMedium', Arial, sans-serif
$SemiBold = 'MontserratSemiBold', Arial, sans-serif
$MediumItalic = 'MontserratMediumItalic', Arial, sans-serif
$Reg = 'MontserratRegular', Arial, sans-serif
$Bold = 'MontserratBold', Arial, sans-serif

$PReg = 'PlayfairDisplaySC-Regular', Arial, sans-serif
$PItalic = 'PlayfairDisplaySC-Italic', Arial, sans-serif
$PBold = 'PlayfairDisplaySC-Bold', Arial, sans-serif
$PBlack = 'PlayfairDisplaySC-Black', Arial, sans-serif
$PBlackItalic = 'PlayfairDisplaySC-BlackItalic', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 110px 0
$gutter-top = 110px
$gutter-bottom = 110px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #e09494
$light-accent-color = #efc9c9
$dark-accent-color = #c47070

$cart-progress-color = #e3aaaa

$alternate-color = #6e6262

$title-accent-color = #d6a9a9

$secondary-color = #382929

$border-color = #7f7f7f

$text-color = #000
$light-text-color = #999
$lighter-text-color = #a3a3a3

$text-accent-color = #946464
$alternate-text-color = #3e423c

$nav-link-color = #706b6b

$socials-ic-color = #D4D4D4

$light-color = #fff
$dark-color = #000

$footer-text-color = #6b6b6b

$breadcrumbs-link-color = #c7c7c7


$round-input-shadow = 0px 3px 3px -1px rgba(0,0,0,0.07)

$blog-title-color = #e6dddd

$lines-color = #e0e0e0

$product-text-color = #8c8787

$wishlist-active-color = #a5b5a3
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #fff

$color-bg = #f5f5f5

$accent-bg = #ede4e4

$card-overlay-bg = #663636

$bg-overlay-color = #333633
$bg-overlay-opacity = .86
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #302525
$popup-overlay-opacity = .4
$popup-body-bg = #f7f5f5
// ========== ========== ========== ========== ==========