//  Fonts 
$Italic = 'MontserratItalic', Arial, sans-serif
$Med = 'MontserratMedium', Arial, sans-serif
$SemiBold = 'MontserratSemiBold', Arial, sans-serif
$MediumItalic = 'MontserratMediumItalic', Arial, sans-serif
$Reg = 'MontserratRegular', Arial, sans-serif
$Bold = 'MontserratBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #e09494
$light-accent-color = #efc9c9
$dark-accent-color = #c47070

$text-accent-color = #946464

$secondary-color = #382929

$text-color = #000
$light-text-color = #999
$lighter-text-color = #a3a3a3

$nav-link-color = #706b6b

$socials-ic-color = #D4D4D4

$light-color = #fff
$dark-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #a2a2a2

$color-bg = #f7f5f5

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========