.cabinet
	.sect__title
		font-size 25px
	&-user
		&__avatar
			flex none
			width 190px
			height 190px
			border-radius 50%
			border 12px solid #f7f7f7
			background-color $light-accent-color
			
		&__mobile
			&--links
				margin-bottom 45px
				color rgba($dark-color, .4)
				font 14px $Med
				a, button
					color inherit
					font-size inherit
					font-family inherit
					display inline-block
				button
					margin-right 25px
					
			
		&__information
			flex 1
			margin-left 50px
			
			&--header
				font 14px $Med
				color $text-color
				padding-bottom 20px
				margin-bottom 30px
				border-bottom 1px solid $lines-color
				
				button, 
				a
					color inherit
					font-size inherit
					font-family inherit
					&:hover
						color $accent-color
						
				&_col
					padding-left 15px
					padding-right 15px

					// width 11%
					&:first-child
					
						flex 1 0 50%
					&:nth-child(2)
						width 28%
						
			&--body
				&_col
					padding 0 15px
				
					&:first-child
						flex none
						width 50%
					&:nth-child(2)
						flex 1
						
					&:last-child
						width 260px
						flex none
						
					&-title
						color #b3b0b0
						margin-bottom 25px
						font 18px $Med
						display none
						
	&-orders
		&__header
			padding-bottom 20px
			margin-bottom 30px
			border-bottom 1px solid $lines-color
			position relative
			
			.sect__title
				margin-bottom 0
			
			.sorting
				position absolute
				right 0
				bottom 24px
				

	&-order
		position relative
		padding-bottom 5px
		padding-left 105px
		margin-bottom 30px
		border-bottom 1px solid $lines-color
		&:last-child
			margin-bottom 0
			padding-bottom 0
			border-bottom none
			
		&__number
			flex-col-center()
			border-radius 50%
			width 60px
			height 60px
			color $light-color
			background-color $accent-color
			font 13px $Med
			text-align-center()
			box-shadow 0px 14px 25px -11px rgba(224,83,83,0.45)
			position absolute
			left 0
			top 13px
			
		&__col
			padding 0 15px
			&:nth-child(2)
				flex 1
			&:nth-child(3)
				width 160px
				flex none
			&:last-child
				width 260px
				flex none
		
		&__products
			padding-right 20px
			display flex
			flex-wrap wrap
			justify-content flex-start
			margin-left -25px
			margin-right -25px
			margin-top -25px
			max-width 425px
		&__product
			&--wrapper
				width 135px
				padding 25px
				height 135px
				
				.card__thumbnail
					margin-bottom 0
					padding-top 100%
					border-radius 4px
						

.information__list,
.cabinet-order__list
	li
		margin-bottom 15px
		font 14px $Med
		color #b3b0b0
		b, strong
			color $text-color
		span
			display inline-block
			width 100%
			max-width 80px
			margin-right 25px
		&:last-child
			margin-bottom 0
			
.cabinet-order__list
	
	li
		display flex
		justify-content flex-start
		color #808080
		font-family $Reg
		
	&--price
		li
			display block
		b, strong
			display inline-block
			font 16px $Med
			margin-top 13px
			

.cabinet-order__price
	display block
	width 100%