.blog
	&__category
		padding-bottom 60px
		margin-bottom 100px
		border-bottom 1px solid #e8e8e8
		&:last-child
			padding-bottom 0
			margin-bottom 0
			border-bottom none
			
		&--title
			text-transform uppercase
			text-align right
			font 85px $PBold
			color $blog-title-color
			line-height 1
			position relative
			z-index 2
			pointer-events none
			
		.blog__articles--col
			margin-top -35px