// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+min-screen(1921px)
	// Product
	.product__video
		left auto
		width 1200px
		right 100%
		margin-right 105px
		&--wrapper
			position relative
			
	// Article
	.article
		&__content
			&--col
				position relative
				
		&__img
			right auto
			left 100%
			width 1100px
			height 660px