.header
	// background-color $header-bg
	padding-top 15px

	&-top
		margin-bottom 25px
		
	&-bottom
		position relative
		
		.languages
			display none
		
	&__contacts
		.socials
			margin-right 30px
			
	&__icons-links
		margin-right 25px
		display flex
		align-items center
		justify-content center
		
		.icon-link
			margin-right 25px
			&:last-child
				margin-right 0
				
	&__cart
		width 155px
		
		// .btn-cart
		// 	width 55px
		// 	height 55px
		// 	span
		// 		display none